Reniec.Api/Helpers/ConsultaDniService.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jaxws.java.net). RI's version is JAX-WS RI 2.3.0-b170407.2038 svnrevision#2eaca54d17a59d265c6fe886b7fd0027836c766c. --><!-- Generated by JAX-WS
RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.3.0-b170407.2038 svnrevision#2eaca54d17a59d265c6fe886b7fd0027836c766c. -->
<definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-
wss-wssecurity-utility-1.0.xsd"
 xmlns:wsp="http://www.w3.org/ns/ws-policy"
xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy"
 xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata"
 xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
xmlns:tns="http://endpoint.wsconsultadni.reniec.gob.pe/"
 xmlns:xsd="http://www.w3.org/2001/XMLSchema"
xmlns="http://schemas.xmlsoap.org/wsdl/"
 targetNamespace="http://endpoint.wsconsultadni.reniec.gob.pe/"
name="SimpleConsultaDniService">
 <types>
 <xsd:schema>
<xsd:import namespace="http://endpoint.wsconsultadni.reniec.gob.pe/" schemaLocation="ConsultaDniService.xsd"/>
 </xsd:schema>
 </types>
 <message name="consultar">
 <part name="arg0" type="tns:peticionConsulta"/>
 </message>
 <message name="consultarResponse">
 <part name="return" type="tns:resultadoConsulta"/>
 </message>
 <message name="actualizarCredencial">
 <part name="arg0" type="tns:peticionActualizarCredencial"/>
 </message>
 <message name="actualizarCredencialResponse">
 <part name="return" type="tns:resultadoActualizacionCredencial"/>
 </message>
 <message name="consultarCertificado">
 <part name="arg0" type="tns:peticionConsultaCertificado"/>
 </message>
 <message name="consultarCertificadoResponse">
 <part name="return" type="tns:resultadoConsulta"/>
 </message>
 <portType name="SRELServiceService">
 <operation name="consultar">
<input wsam:Action="http://endpoint.wsconsultadni.reniec.gob.pe/SRELServiceService/consultarRequest"
 message="tns:consultar"/>
 <output
wsam:Action="http://endpoint.wsconsultadni.reniec.gob.pe/SRELServiceService/consultarResponse"
 message="tns:consultarResponse"/>
 </operation>
 <operation name="actualizarCredencial">
 <input
wsam:Action="http://endpoint.wsconsultadni.reniec.gob.pe/SRELServiceService/actualizarCredencialRequest"
 message="tns:actualizarCredencial"/>
 <output
wsam:Action="http://endpoint.wsconsultadni.reniec.gob.pe/SRELServiceService/actualizarCredencialResponse"
 message="tns:actualizarCredencialResponse"/>
 </operation>
 <operation name="consultarCertificado">
 <input
wsam:Action="http://endpoint.wsconsultadni.reniec.gob.pe/SRELServiceService/consultarCertificadoRequest"
 message="tns:consultarCertificado"/>
 <output
wsam:Action="http://endpoint.wsconsultadni.reniec.gob.pe/SRELServiceService/consultarCertificadoResponse"
 message="tns:consultarCertificadoResponse"/>
 </operation>
 </portType>
 <binding name="SRELServiceServicePortBinding"
type="tns:SRELServiceService">
 <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="rpc"/>
 <operation name="consultar">
 <soap:operation soapAction=""/>
 <input>
 <soap:body use="literal"
namespace="http://endpoint.wsconsultadni.reniec.gob.pe/"/>
 </input>
 <output>
 <soap:body use="literal"
namespace="http://endpoint.wsconsultadni.reniec.gob.pe/"/>
 </output>
 </operation>
 <operation name="actualizarCredencial">
 <soap:operation soapAction=""/>
 <input>
 <soap:body use="literal"
namespace="http://endpoint.wsconsultadni.reniec.gob.pe/"/>
 </input>
 <output>
 <soap:body use="literal"
namespace="http://endpoint.wsconsultadni.reniec.gob.pe/"/>
 </output>
 </operation>
 <operation name="consultarCertificado">
 <soap:operation soapAction=""/>
 <input>
 <soap:body use="literal"
namespace="http://endpoint.wsconsultadni.reniec.gob.pe/"/>
 </input>
 <output>
 <soap:body use="literal"
namespace="http://endpoint.wsconsultadni.reniec.gob.pe/"/>
 </output>
 </operation>
 </binding>
<service name="SimpleConsultaDniService">
 <port name="SRELServiceServicePort"
binding="tns:SRELServiceServicePortBinding">
 <soap:address
location="https://jfloresh.reniec.gob.pe:443/wsconsultadni/ConsultaDniService"
/>
 </port>
 </service>
</definitions>